
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
<div class="row">
  <div class="col-xs-12 col-sm-6 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-body page-panel-body">
        <h4 class="no-margin-top GB0TDK2GCB">
          <span class="glyphicon glyphicon-book" title="Invoice"></span>
          <a class="ellipsis-block" title="Invoice CIN-001" href="#/new">Invoice
            CIN-001</a>
        </h4>
      </div>
    </div>
  </div>

 <div class="col-xs-12 col-sm-6 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-body page-panel-body">
        <h4 class="no-margin-top GB0TDK2GCB">
          <span class="glyphicon glyphicon-book" title="Invoice"></span>
          <a class="ellipsis-block" title="Invoice CIN-002" href="#/new">Invoice
            CIN-002</a>
        </h4>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-body page-panel-body">
        <h4 class="no-margin-top GB0TDK2GCB">
          <span class="glyphicon glyphicon-book" title="Invoice"></span>
          <a class="ellipsis-block" title="Invoice CIN-001" href="#/new">Invoice
            CIN-001</a>
        </h4>
      </div>
    </div>
  </div>

 <div class="col-xs-12 col-sm-6 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-body page-panel-body">
        <h4 class="no-margin-top GB0TDK2GCB">
          <span class="glyphicon glyphicon-book" title="Invoice"></span>
          <a class="ellipsis-block" title="Invoice CIN-002" href="#/new">Invoice
            CIN-002</a>
        </h4>
      </div>
    </div>
  </div>

</div>
</div></div>

<script>$.bootstrapPlugin();</script>

