

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    <div class="btn-group">
  <button type="button" class="btn btn-default">1</button>
  <button type="button" class="btn btn-default">2</button>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Dropdown link</a></li>
      <li><a href="#">Dropdown link</a></li>
    </ul>
  </div>
</div>
  </div>
</div>

<div class="panel panel-default"
  data-id="b3e8484e-3802-42cb-b497-165ce7233c78">
  <div class="panel-body page-panel-body">
    <div>
      <div data-id="v192168001112_1308843812973_145">
        <div data-id="v192168001112_1308844011502_185">
          <div>
            <div class="form-horizontal">
              <div class="form-group SimpleTextQuestion"
                data-id="v192168001112_1308844562694_404">
                <div class="col-sm-4 col-xs-4 control-label">
                  <span class="">Name</span><span
                    class="text-danger bold" aria-hidden="false">*</span>
                </div>
                <div class="col-sm-8 col-xs-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group"
                data-id="v192168001112_1308844670776_425">
                <div class="col-sm-4 col-xs-4 control-label">
                  <span class="">Description</span><span
                    class="text-danger bold" aria-hidden="true"
                    style="display: none;">*</span>
                </div>
                <div class="col-sm-8 col-xs-8">
                  <textarea class="form-control" rows="3"
                    style="resize: vertical; min-height: 50px;"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="btn-toolbar default-margin-bottom"
            aria-hidden="true" style="display: none;"></div>
          <hr>
        </div>
        <div aria-hidden="false">
          <div>
            <a class="accordion-toggle collapsed GB0TDK2BAB"
              data-toggle="collapse" href="#gwt-uid-873">More</a>
            <div class="panel-collapse" id="gwt-uid-873">
              <div class="panel-body">
                <div data-id="v192168001112_1308844112156_345"
                  aria-hidden="false">
                  <div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div data-id="v192168001112_1308844149577_346"
                          aria-hidden="true" style="display: none;">
                          <div>
                            <div class="form-horizontal">
                              <div class="form-group"
                                data-id="v192168001112_1308844251640_381">
                                <div
                                  class="col-sm-4 col-xs-4 control-label">
                                  <span class="">Customer to Bill</span><span
                                    class="text-danger bold"
                                    aria-hidden="true"
                                    style="display: none;">*</span>
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                  <div class="input-group">
                                    <div class="select-panel">
                                      <select class="form-control"
                                        size="1"><option
                                          value="0">Undefined</option></select>
                                    </div>
                                    <span class="input-group-btn"><button
                                        type="button"
                                        class="btn btn-default"
                                        title="Start the search">
                                        <span class="picto-font">s</span>
                                      </button>
                                      <button type="button"
                                        class="btn btn-default"
                                        title="Create a new...">
                                        <span class="picto-font">+</span>
                                      </button></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="btn-toolbar default-margin-bottom"
                            aria-hidden="true" style="display: none;"></div>
                          <hr>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div data-id="v192168001112_1308844152791_347"
                          aria-hidden="false">
                          <div>
                            <div class="table-responsive">
                              <table
                                __gwtcellbasedwidgetimpldispatchingfocus="true"
                                __gwtcellbasedwidgetimpldispatchingblur="true"
                                cellspacing="0"
                                class="GB0TDK2NQ table table-hover GB0TDK2OQ empty"
                                id="gwt-uid-861"
                                style="table-layout: fixed;">
                                <colgroup>
                                  <col style="width: 30px;">
                                  <col style="width: 30px;">
                                  <col style="width: 30px;">
                                  <col style="width: 30px;">
                                </colgroup>
                                <thead aria-hidden="false">
                                  <tr __gwt_header_row="0">
                                    <th colspan="1"
                                      class="GB0TDK2MP GB0TDK2KP"
                                      __gwt_column="column-gwt-uid-887"
                                      __gwt_header="header-gwt-uid-888"><div>
                                        <span
                                          class="ellipsis ellipsis-block wizard-sheet-header-small"
                                          data-title="First Name"
                                          data-toggle="tooltip">First
                                          Name</span> <span
                                          class="wizard-sheet-header-normal">First
                                          Name</span>
                                      </div></th>
                                    <th colspan="1" class="GB0TDK2MP"
                                      __gwt_column="column-gwt-uid-889"
                                      __gwt_header="header-gwt-uid-890"><div>
                                        <span
                                          class="ellipsis ellipsis-block wizard-sheet-header-small"
                                          data-title="Last Name"
                                          data-toggle="tooltip">Last
                                          Name</span> <span
                                          class="wizard-sheet-header-normal">Last
                                          Name</span>
                                      </div></th>
                                    <th colspan="1" class="GB0TDK2MP"
                                      __gwt_column="column-gwt-uid-891"
                                      __gwt_header="header-gwt-uid-892"><div>
                                        <span
                                          class="ellipsis ellipsis-block wizard-sheet-header-small"
                                          data-title="Phone"
                                          data-toggle="tooltip">Phone</span>
                                        <span
                                          class="wizard-sheet-header-normal">Phone</span>
                                      </div></th>
                                    <th colspan="1"
                                      class="GB0TDK2MP GB0TDK2EQ"
                                      __gwt_column="column-gwt-uid-893"
                                      __gwt_header="header-gwt-uid-894"><div>
                                        <span
                                          class="ellipsis ellipsis-block wizard-sheet-header-small"
                                          data-title="EMail"
                                          data-toggle="tooltip">EMail</span>
                                        <span
                                          class="wizard-sheet-header-normal">EMail</span>
                                      </div></th>
                                  </tr>
                                </thead>
                                <tfoot aria-hidden="true"
                                  style="display: none;"></tfoot>
                                <tbody style="display: none;"></tbody>
                                <tbody>
                                  <tr>
                                    <td align="center" colspan="4"><div>
                                        <div aria-hidden="false"
                                          style="width: 100%; height: 100%; padding: 0px; margin: 0px;">
                                          <div aria-hidden="false"
                                            style="width: 100%; height: 100%;">
                                            <div
                                              class="text-muted text-left">No
                                              items to show</div>
                                          </div>
                                        </div>
                                        <div aria-hidden="true"
                                          style="width: 100%; height: 100%; padding: 0px; margin: 0px; display: none;">
                                          <div aria-hidden="true"
                                            class="GB0TDK2FQ"
                                            style="width: 100%; height: 100%; display: none;">
                                            <div
                                              class="text-muted text-left">Loading
                                              data...</div>
                                          </div>
                                        </div>
                                      </div></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="btn-toolbar default-margin-bottom"
                            aria-hidden="false" style="">
                            <button type="button"
                              class="btn btn-default">
                              <span class="glyphicon glyphicon-search"></span> Add a
                              Customer Contact
                            </button>
                            <button type="button"
                              class="btn btn-default">
                              <span class="glyphicon glyphicon-search"></span> Add a
                              Supplier Contact
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="btn-toolbar default-margin-bottom"
                    aria-hidden="true" style="display: none;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer page-panel-footer affix-bottom">
    <div class="navbar-btn clearfix GB0TDK2E0">
      <div class="pull-left btn-toolbar">
        <button type="button" class="btn btn-lg btn-danger"
          title="Delete" aria-hidden="false">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        <button type="button" class="btn btn-lg btn-default"
          title="Print" aria-hidden="true" style="display: none;">
          <span class="picto-font">/</span>
        </button>
        <button type="button" class="btn btn-lg btn-default GB0TDK2F0"
          title="Email">
          <span class="glyphicon glyphicon-envelope"></span>
        </button>
      </div>
      <div class="pull-right btn-toolbar">
        <ul class="pagination GB0TDK2H0" aria-hidden="true"
          style="display: none;">
          <li class="disabled"><a class="" data-title="Previous"
            data-toggle="tooltip">«</a></li>
          <li><a class="" role="button" aria-hidden="true"
            style="display: none;">0</a></li>
          <li class="active"><a class="">1</a></li>
          <li><a class="" role="button" aria-hidden="true"
            style="display: none;">2</a></li>
          <li class="disabled"><a class="" data-title="Next"
            data-toggle="tooltip">»</a></li>
        </ul>
        <button type="button" class="btn btn-default"
          aria-hidden="false">Cancel</button>
        <button type="button" class="btn btn-primary"
          aria-hidden="false">Done</button>
      </div>
    </div>
  </div>
</div>


<script>$.bootstrapPlugin();</script>